@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Red Hat Text', sans-serif;
        scroll-behavior: smooth;
    }

    p {
        font-family: 'Raleway', sans-serif;
    }

    .active {
        color: #FB4C47;
    }
  }

  .btn-custom-red {
    @apply rounded-full py-3 px-7 bg-custom-red text-custom-white font-bold
  }

  .container {
    @apply w-4/5 mx-auto
  }

  /* .navbar-nav {
    @apply absolute top-full right-0 bg-custom-white shadow-lg p-10 space-y-5 w-full
  } */